body{
    color: white;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

.links{
    display: flex;
    gap:20px;
    
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    
    padding: 5px;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}